*.user
src/.vs/
src/packages/
src/TestResults/
src/SIM/bin/
src/SIM/obj/
src/SIM.App.UnitTests/bin/
src/SIM.App.UnitTests/obj/
src/SIM.App/bin/
src/SIM.App/obj/
src/SIM.Base/bin/
src/SIM.Base/obj/
src/SIM.Foundation.SqlAdapter/bin/
src/SIM.Foundation.SqlAdapter/obj/
src/SIM.Foundation.SqlAdapter.IntegrationTests/bin/
src/SIM.Foundation.SqlAdapter.IntegrationTests/obj/
src/SIM.Base.UnitTests/bin/
src/SIM.Base.UnitTests/obj/
src/SIM.Foundation.WebAdapter.IntegrationTests/bin/
src/SIM.Foundation.WebAdapter.IntegrationTests/obj/
src/SIM.Foundation.WebAdapter/bin/
src/SIM.Foundation.WebAdapter/obj/
